name: Task 6

on: 
  workflow_dispatch:

jobs:
  canary-deploy:
    runs-on: ubuntu-latest

    outputs:
      rollout: ${{ steps.rollout.outputs.rollout }}

    steps:
      - name: Random Generator
        id: rollout
        run: |
          echo "rollout=$((RANDOM % 100 + 1))" >> $GITHUB_OUTPUT
      - name: Print Number
        run: echo "Number = ${{ steps.rollout.outputs.rollout }}"
      - name: Canary deploy
        if: ${{ steps.rollout.outputs.rollout <= 20 }}
        run: echo "Canary deployment started"
      - name: Skip deploy
        if: ${{ steps.rollout.outputs.rollout > 20 }}
        run: echo "Deployment skipped"