name: Task 8

on:
  workflow_dispatch:

jobs:
  deploy-prod:
    runs-on: self-hosted
    if: github.ref_name == 'main'
    environment: production
    
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref_name }}
      cancel-in-progress: true

    steps:
      - name: output
        run: echo "Deploying safely to production"
