name: Task 14

on:
  workflow_dispatch:

jobs:
  conditional-matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env:
          - dev
          - staging
          - prod        
    steps:
      - name: print
        if: matrix.env != 'prod'
        run: echo "Running on ${{ matrix.env }}"