name: Task 5

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy App
        run: | 
          echo "Deploying Application"
          exit 1

  rollback:
    runs-on: ubuntu-latest
    needs: deploy
    if: failure()
    steps:
      - name: Rollback
        run: echo "Rolling back deployment"