name: Task 7

on:
  workflow_dispatch:
    inputs:
      active_color:
          type: choice
          options:
            - blue
            - green

jobs:
  blue-green:
    runs-on: ubuntu-latest
    steps:
      - name: active color
        run: echo "Current active color = ${{ inputs.active_color }}"
      - name: Decide next color
        id: switch
        run: |
          if [ "${{ inputs.active_color }}" = "blue" ]; then
            echo "next=green" >> $GITHUB_OUTPUT
          else
            echo "next=blue" >> $GITHUB_OUTPUT
          fi
      - name: Switch traffic
        run: echo "Traffic switched to ${{ steps.switch.outputs.next }}"