name: Task 10

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: |
          echo "Deploying"
          exit 1
  rollback:
    needs: deploy
    runs-on: ubuntu-latest
    if: failure()
    steps:
      - name: Print
        run: |
          echo "Rollback Started"
          exit 1
  escalate:
    needs: rollback
    runs-on: ubuntu-latest
    if: failure()
    steps:
      - name: print
        run: echo "Escalating incident"
  