name: Task 3

on: 
  push:
    branches:
      - main
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.ref_name == 'main' || github.ref_name == 'develop' }}
    environment: ${{ github.ref_name == 'main' && 'production' || 'staging' }}


    env:
      DEPLOY_ENV: ${{ github.ref_name == 'main' && 'production' || 'staging' }}

    steps:
    - name: Deploy
      run: echo "Deploying to ${{ env.DEPLOY_ENV }}"